@{
    ViewData["Title"] = "Home Page";
}
<div id="main">
    <div class="jumbotron">
        <h1>Contoso University</h1>
    </div>
    <div class="row" id="home-row">
        <div class="col-md-4" id="home-col-md-1">
            <div class="transbox">
                <h2>Welcome to Contoso University</h2>
                <p>
                    Contoso University, a place to learn, grow, and find your path to your future.
                </p>
            </div>
        </div>
        <div class="col-md-4" id="home-col-md-2">
            <div class="transbox">
                <h2>Campus Life</h2>
                <p>Take a look at what is happening around campus.</p>
            </div>
        </div>
        <div class="col-md-4" id="home-col-md-3">
            <div class="transbox">
                <h2>Athletics</h2>
                <p>Come out a support the Contoso Tigers athletes, Go Tigers!</p>
            </div>
        </div>
    </div>
</div>