@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>For site management, this computer system may use software programs to create summary statistics that are used for such purposes as assessing what information is of interest, determining technical design specifications, and identifying system performance areas. Contoso may collect and store the following, and other information:</p>
    <p>The name of the domain from which you access the Internet</p>
    <p>The date and time you access our site</p>
    <p>The pages you peruse and files you access</p>
    <p>The Internet address of the website from which you linked directly to our site</p>
    <p>If you choose to provide us with personal information, as in an e-mail message or completing online forms and applications, Contoso may use this information to respond to your request. There are times when your e-mail or other information may be forwarded to others, including other appropriate institutions, which are better able to assist you. Contoso will take reasonable precautions to not share personal information with outside organizations without first obtaining your permission.</p>

</div>
